.social {
  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 47px;
  }

  &__item {
    list-style: none;

    :hover {
      background-color: #669ec0;
    }
  }

  &__link {
    background-color: #81b3d2;
    color: #ffffff;
    margin-right: 6px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
